body{
    background-color:coral;
    margin:  20px 300px;
    }

header{
    text-align: center;
    font: bold 24px Futura, sans-serif;
}

article{
    padding: 10px 20px 10px;
    margin: 5px;
    background-color: burlywood;
    line-height: 2px;
    font: 18px Times New Roman, serif;
}

section{
    padding: 10px 20px 10px;
    margin: 5px;
    background-color: burlywood;
    line-height: 2px;
    font: 18px Times New Roman, serif;
}

h3{
    text-align: center;
    font: bold 20px Futura, sans-serif;
}

h4{
    line-height: 2px;
    font: bold 18px Futura, sans-serif;
}

h5{
    line-height: 2px;
    font: bold 16px Futura, sans-serif;
}

footer{
    padding: 10px 20px 10px;
    margin: 5px;
    line-height: 2px;
    font: 18px Times New Roman, serif;
}

